<div class="mf-app-component">
    <div class="left">
        <div>name</div>
        <div>ID</div>
        <div>address</div>
        <div>e-mail</div>
    </div>
    
    <div class="left">
        <div><input type="text" [(ngModel)] = "person.name" /></div>
        <div><input type="number" [(ngModel)] = "person.id" ></div>
        <div><input type="address" [(ngModel)] = "person.address" ></div>
        <div><input type="email" [(ngModel)] = "person.email" ></div>
    </div>
        
    <div class="right">
        Hello, mr. <span [innerText] = "person.name" class="entered"></span>
        with ID = <span [innerText] = "person.id" class="entered"></span>
        you live at <span [innerText] = "person.address" class="entered"></span>
        and have an email <span [innerText] = "person.email" class="entered"></span>
    </div>

    <br />
    <br />
</div>

<div class="clear-fix"></div>

<div [innerHtml]="cardMessage"></div>

<mf-person-card 
    [personName]="person.name"
    [personId]="person.id"
    [personAddress]="person.address"
    [personEmail]="person.email"
    (onModeChange)="onCardModeChanged($event)"
    >
</mf-person-card>
