@import "../../../../assets/styles/theme.less";

.mf-person-card {

    width: 60%;
    align-items: flex-start;

    .left-pane {
        float: left;
        width: 50%;
    }
    
    .right-pane {
        float: right;
        width: 50%;
    }

    .clear-both {
        .clear-fix;
    }
}