@import "../../../../assets/styles/theme.less";

.mf-person-card {

    width: 100%;
    align-items: flex-start;

    .left-pane,
    .right-pane {
        float: left;
        width: 30%;
    }
    
    .clear-both {
        .clear-fix;
    }
}