<div class="mf-person-card">
    <div class="left-pane">
        <div>Name</div>
        <div>ID</div>
        <div>Address</div>
        <div>E-mail</div>
        <div>Gender</div>
        <div>Birthdate</div>
        <div>Salary</div>
    </div>

    <div class="right-pane">

        <div *ngIf="mode === ViewMode.ReadOnly">
        <!-- <div [hidden]="mode !== ViewMode.ReadOnly" class="read-only-wrapper"> -->
            <div [innerText]="personName"></div>
            <div [innerText]="personId"></div>
            <div [innerText]="personAddress"></div>
            <div [innerText]="personEmail"></div>
            <div [innerText]="personGender"></div>
            <div [innerText]="personBirthdate | date : 'dd M yyyy'"></div>
            <div [innerText]="(personSalary | doubleMe) | currency : 'NIS'"></div>
        </div>

        <div *ngIf="mode === ViewMode.Edit">
            <div>
                <input type="text" [(ngModel)] = "personName" (keyup)="onPersonNameChange()"/>
            </div>
            <div>
                <input type="text" [(ngModel)] = "personId" (keyup)="onPersonIdChange()" >
            </div>
            <div>
                <input type="text" [(ngModel)] = "personAddress" (keyup)="onPersonAddressChange()" >
            </div>
            <div>
                <input type="email" [(ngModel)] = "personEmail" (keyup)="onPersonEmailChange()" >
            </div>
            <mf-radio-button
                [options]="genderOptions"
                [(value)]="personGender"
                (valueChange)="onPersonGenderChange()"
                ></mf-radio-button>
        </div>
    </div>

    <div class="clear-both"></div>
    
    <button
        [innerText]="buttonTitle"
        (click)="onToggleModeClick()"
        >
    </button>
</div>
<hr />
